# Microservicio Pokémon (Node.js / Express)
# PC y Expo Web
EXPO_PUBLIC_API_URL=http://localhost:3001

# Android Emulator
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3001

# Celular físico con Expo Go
# EXPO_PUBLIC_API_URL=http://192.168.1.50:3001

# Microservicio Anime (Python / FastAPI)
# PC y Expo Web
EXPO_PUBLIC_ANIME_API_URL=http://localhost:8000

# Android Emulator
# EXPO_PUBLIC_ANIME_API_URL=http://10.0.2.2:8000

# Celular físico con Expo Go
# EXPO_PUBLIC_ANIME_API_URL=http://192.168.1.50:8000

# Microservicios Docentes Node.js nativo (Local)
EXPO_PUBLIC_DOCENTES_API_URL=http://localhost:3002
EXPO_PUBLIC_DOCENTES_CREAR_API_URL=http://localhost:3003
EXPO_PUBLIC_DOCENTES_ACTUALIZAR_API_URL=http://localhost:3004
EXPO_PUBLIC_DOCENTES_ELIMINAR_API_URL=http://localhost:3005
